<h2 class="pageTitle"> Pages List</h2>
<div id="content">
	<h3><%=@comic_name%> - <%=@vol%></h3>
	
	<% @play_list.each do |pl| %>
	<div class="cell" style="">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<th>title</th>
				<th>page_from</th>
				<th>page_to</th>
			</tr>
		
			<!-- <%= pl %> -->
			<% tilte,from,to = pl %>
			<tr>
				<td width="30%" valign="top" align="center">
					<a href="/comic/<%=@comic_name%>/<%=@vol%>/<%=from%>"><%= tilte %></a>
				</td>
				<td width="auto" valign="middle" align="center"><%= from %></td>
				<td width="auto" valign="middle" align="center"><%= to %></td>
			</tr>
		</table>
	<% end %>
	</div>
</div>