<div class="page-header">
    <h2> Pages List</h2>
</div>
<div>
    <p><h3><%=@comic_name%> - <%=@vol%></h3></p>
    <table>

    <!-- <form class="form-horizontal"> -->
    <% @play_list.each do |pl| %>
    <% title,from,to = pl %>
    <!-- <label><%=title%></label> -->
    <ul class="nav nav-pliis nav-stacked">
        <li><a href="/comic/<%=@comic_name%>/<%=@vol%>/<%=from%>"><%= title %></a></li>
    </ul>
<!--        <thead></thead>
        <tbody>
            <tr>
                <td><%=title%></td>
                <td>
                    <li  class="nav nav-pliis nav-stacked">
                        <a href="/comic/<%=@comic_name%>/<%=@vol%>/<%=from%>"><%= title %></a>
                    </li>
                </td>
            </tr>

        </tbody> -->
    <% end %>
    </table>

<!--    </form> -->

</div>