
<div class="contentHeader">
  <h2> TranPages List</h2>
</div>

<div class="">
  <div class="comic-content">
    <div class="addition-css">
      <link rel="stylesheet" type="text/css" 
      href="/trans/content/<%= @comic_name%>/<%= @vol%>/<%= @page %>.css">
    </div>

    <div class="trans-content">
      <%if File.exist? (@translate_path+".erb") %>
        <%File.open(@translate_path+".erb").each do |l|%>
        <%= l %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="ad"></div>
</div>

<div data-role="footer" class="ui-bar">
  <a href="/m/comic/<%=@comic_name%>" data-role="button" data-icon="home" rel="external">Top</a>
  <a href="/m/comic/<%=@comic_name%>/<%=@vol%>/1" data-role="button" data-icon="arrow-u" rel="external">VolTop</a>
  <a href="/m/comic/<%=@comic_name%>/<%=@vol%>/<%=@page_num.to_i == 1 ? 1 : @page_num.to_i-1%>" data-role="button" data-icon="arrow-l" rel="external" >Prev</a>
  <a href="/m/comic/<%=@comic_name%>/<%=@vol%>/<%=@page_num.to_i == @page_num_max ? @page_num_max : @page_num.to_i+1%>"  data-role="button" data-icon="arrow-r" rel="external" >Next</a>
</div>
